@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: mediumpurple;
    /* 
    alternativa para centralizar tudo porém como só temos um bloco pra centralizar n usaremos esse método.
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column nowrap; */
}
header {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.533);
}
section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
    text-align: center;
}
div {
    padding: 8px;
}
a {
    text-decoration: none;
    color: white;
    
}
a:hover {
    color: lightpink;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.597);
}